<p>こんにちは、<%= @resource.email %> さん</p>

<p>以下のリンクからパスワードを再設定してください：</p>

<p>
  <a href="http://localhost:8000/password/reset?reset_password_token=<%= @token %>">
    パスワードを再設定する
  </a>
</p>

<p>このリンクの有効期限は数時間です。</p>